.account {
    width: 100%;
    height: 100%;
}

.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-setting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    .body {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        gap: 20px;
    }

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 2px solid whitesmoke;
        object-fit: cover;
    }

    .setting-button {
        display: flex;
        gap: 20px;
    }
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 10px auto;

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid whitesmoke;
        margin-bottom: 20px;
        object-fit: cover;
        cursor: pointer;
    }

    .avatar-button {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

}

.account-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin: 10px auto;
    gap: 10px;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin: 10px auto;
    gap: 10px;
}

button {
    width: fit-content;
    height: 50px;
    border: 4px solid whitesmoke;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;

    a {
        text-decoration: none;
        color: white;
    }
}