/* Container for the entire chat view */
.chat-view-container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.chat-view-container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(45,253,102,1) 100%);
  z-index: -1;
  transform: rotate(45deg);
  border-radius: 50%;
  filter: blur(10px);
}

.chat-view {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 28px;
  font-weight: bold;
  color: #161A42;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.header button {
  text-decoration: none;
  background-color: #1468BF;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid white;
  transition: all 0.5s ease;
  font-size: 16px;
}

.header button:hover {
  background-color: #004aad;
  transform: scale(1.1);
}

.search-bar {
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  flex-grow: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px;
  outline: none;
  font-size: 16px;
}

.search-form button {
  background-color: #1468BF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #004aad;
}

.conversations {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.friend {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.friend:hover {
  background-color: #f0f0f0;
}

.friend-info {
  display: flex;
  align-items: center;
}

.friend-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.friend-details {
  display: flex;
  flex-direction: column;
}

.friend-name {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  color: #161A42;
}

.last-message {
  color: #757575;
  font-size: 14px;
}

.message-text {
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message-time {
  font-size: 12px;
  margin-left: 10px;
  color: #b0b0b0;
}

.unread-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
}
