.chat-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .body {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        width: 50%;
        height: 70%;
        padding: 10px;
        gap: 10px;
        overflow: scroll;

        .friend {
            display: flex;
            border: 2px solid whitesmoke;
            width: 50%;
            height: 10%;
            padding: 10px;
            cursor: pointer;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 2px solid whitesmoke;
                margin-right: 20px;
                object-fit: cover;
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 10px;
          
                span {
                  font-weight: 500;
                }
          
                p {
                  font-size: 14px;
                  font-weight: 300;
                }
              }
        }
    }
}